# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# Sistema (Windows/macOS)
Thumbs.db
desktop.ini
.DS_Store

# Herramientas de sincronización (Resilio Sync, etc.)
.sync/
*.!sync

# Otros
*.tmp
*.bak
*.log
*.csv
